In [2]:
import numpy as np
import pandas as pd
titanic_survival = pd.read_csv("titanic_train.csv")
titanic_survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
age = titanic_survival["Age"]
print(age.loc[0:10])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64
0    22.0
1    38.0
2    26.0
Name: Age, dtype: float64

In [4]:
age_is_null = pd.isnull(age)
print(age_is_null)

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [5]:
age_null_true = age[age_is_null]
print(age_null_true)

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
       ..
718   NaN
727   NaN
732   NaN
738   NaN
739   NaN
740   NaN
760   NaN
766   NaN
768   NaN
773   NaN
776   NaN
778   NaN
783   NaN
790   NaN
792   NaN
793   NaN
815   NaN
825   NaN
826   NaN
828   NaN
832   NaN
837   NaN
839   NaN
846   NaN
849   NaN
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [6]:
age_null_count = len(age_null_true)
print(age_null_count)

177

In [7]:
#如果有缺失值想算平均值是算不出来的，会显示nan，比如：
mean_age = sum(age)/len(age)
print(mean_age)

nan

In [8]:
#有缺失值时计算方法1：
good_ages = age[age_is_null == False]
#print(good_ages)
correct_mean_age = sum(good_ages)/len(good_ages)
print(correct_mean_age)

29.69911764705882

In [9]:
#有缺失值时计算方法2：
correct_mean_age = age.mean()
print(correct_mean_age)

29.69911764705882

In [10]:
#每个舱位等级的平均价格是多少：
Pclass = titanic_survival["Pclass"]
fare = titanic_survival["Fare"]
#print(Pclass)
fare1 = fare[Pclass == 1]
fare2 = fare[Pclass == 2]
fare3 = fare[Pclass == 3]

print(fare1.mean())
print(fare2.mean())
print(fare3.mean())

84.15468749999992
20.66218315217391
13.675550101832997

In [11]:
#每个舱位等级的平均价格是多少：
passenger_classes = [1, 2, 3]
fares_by_class = {}
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["Pclass"] == this_class]
    pclass_fares = pclass_rows["Fare"]
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
print(fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [12]:
#用pivot_table函数计算每个舱位的获救概率：
passenger_survival = titanic_survival.pivot_table(index = "Pclass", values= "Survived", aggfunc= np.mean)
#index指统计基准，values指基准量和谁之间的关系，aggfunc指两个量的什么关系
print(passenger_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [13]:
#算每个舱位的平均年龄：
passenger_age = titanic_survival.pivot_table(index= "Pclass", values= "Age")#不指定aggfunc的时候默认是按照求均值计算
print(passenger_age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [14]:
#计算每个码头的总价格和获救人数：
port_stats = titanic_survival.pivot_table(index = "Embarked", values=["Fare", "Survived"], aggfunc= np.sum)
print(port_stats)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [15]:
#把缺失值的那一行丢掉：
drop_na_columns = titanic_survival.dropna(axis = 1)
new_titanic_survival = titanic_survival.dropna(axis = 0,subset =["Age", "Sex"])
#print(new_titanic_survival)

In [16]:
#定位到一个具体值：
row_index_83_age = titanic_survival.loc[83,"Age"]
row_index_1000_pclass = titanic_survival.loc[83,"Pclass"]
print(row_index_83_age)
print(row_index_1000_pclass)

28.0
1

In [17]:
new_titanic_survival = titanic_survival.sort_values("Age", ascending = False)
print(new_titanic_survival[0:10])
titanic_reindexed = new_titanic_survival.reset_index(drop = True)#重新排序
print("------------")
print(titanic_reindexed[0:10])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q
------------
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male
3           97         0       1             Goldschmidt, Mr. George B  male
4          117         0       3                  Connors, Mr. Patrick  male
5          673         0       2           Mitchell, Mr. Henry Michael  male
6          746         0       1          Crosby, Capt. Edward Gifford  male
7           34         0       2                 Wheadon, Mr. Edward H  male
8           55         0       1        Ostby, Mr. Engelhart Cornelius  male
9          281         0       3                      Duane, Mr. Frank  male

    Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0  80.0      0      0       27042  30.0000   A23        S
1  74.0      0      0      347060   7.7750   NaN        S
2  71.0      0      0    PC 17609  49.5042   NaN        C
3  71.0      0      0    PC 17754  34.6542    A5        C
4  70.5      0      0      370369   7.7500   NaN        Q
5  70.0      0      0  C.A. 24580  10.5000   NaN        S
6  70.0      1      1   WE/P 5735  71.0000   B22        S
7  66.0      0      0  C.A. 24579  10.5000   NaN        S
8  65.0      0      1      113509  61.9792   B30        C
9  65.0      0      0      336439   7.7500   NaN        Q

In [18]:
#定义函数再应用
def hundredth_row(column):
    hundredth_item = column.loc[99]
    return hundredth_item

hundredth_row = titanic_survival.apply(hundredth_row)#用apply应用函数，相当于把titanic_survival放到了column的位置
print(hundredth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

In [19]:
#看每一列缺失值的个数是多少，也是用定义函数的方法：
def not_null_count(column):
    column_null = pd.isnull(column)
    null = column[column_null]
    return len(null)
column_null_count = titanic_survival.apply(not_null_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unkown"
    elif age< 18:
        return "minor"
    else:
        return "adult"

age_labels = titanic_survival.apply(generate_age_label, axis =1)#相当于把titanic_survival带到了row的位置
print(age_labels)

0       adult
1       adult
2       adult
3       adult
4       adult
5      unkown
6       adult
7       minor
8       adult
9       minor
10      minor
11      adult
12      adult
13      adult
14      minor
15      adult
16      minor
17     unkown
18      adult
19     unkown
20      adult
21      adult
22      minor
23      adult
24      minor
25      adult
26     unkown
27      adult
28     unkown
29     unkown
        ...
861     adult
862     adult
863    unkown
864     adult
865     adult
866     adult
867     adult
868    unkown
869     minor
870     adult
871     adult
872     adult
873     adult
874     adult
875     minor
876     adult
877     adult
878    unkown
879     adult
880     adult
881     adult
882     adult
883     adult
884     adult
885     adult
886     adult
887     adult
888    unkown
889     adult
890     adult
Length: 891, dtype: object

In [21]:
#看成年人和未成年人分别的获救几率
titanic_survival["Age_labels"] = age_labels #先将age_labels以一列添加到原来文件中
age_group_survival = titanic_survival.pivot_table(index = "Age_labels", values= "Survived")
print(age_group_survival)

            Survived
Age_labels
adult       0.381032
minor       0.539823
unkown      0.293785